body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  margin-top: 15px;
}

.form-rowIn {
  display: flex;
  margin-left: 7%;
  height: 100px;
}

.signinguest{
  position: relative;
  margin-left: 32%;
  width: 200px;
  height: 75px;
  font-size: 30px;
  color: white;
  background-color:#2F4F4F;
}

/* form {
    background:rgb(132, 179, 250);
} */

.form-row {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 100px;
}


label{
  font-size: 20px;
  position:relative;
  margin-left: 15px;
}

input{
  /*width: 50px;*/
  width: auto;
  height: 10px;
}

h3 {
  margin-left: 15px;
}

.checkMe{
  margin-left: 130px;
}

.form-check-label{
  height: 20px;
}


.div_Button{
  position: relative;
}

.btn{
  position: relative;
  float: right;
  margin-right: 30px;
  width: 200px;
  height: 75px;
  font-size: 20px;
  background-color:#2F4F4F;
}

.btn_ofer{
  position: relative;
  float: right;
  margin-right: 30px;
  width: 200px;
  font-size: 20px;
  background-color:#2F4F4F;
  border-radius: 5px;
}

.reverse{
  display: flex;
  flex-direction: row-reverse;
}


.pat {
  color: gray;
}

.post {
  color: green;
}

.putch {
  color: goldenrod;
  font-style: italic;
}

.delete {
  color: red;
  font-weight: bold;
}

select {
  border-radius: 5px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 0;
}